* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.banner {
  padding-top: 230px;
  padding-bottom: 120px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/favoriteBG.png);
}


.banner__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 31.43px;
}

.banner__subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 82px;
}

.banner__btn {
  background: #FF4343;
  font-family: 'Raleway';
  padding-top: 26px;
  padding-bottom: 26px;
  max-width: 370px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: #FF4343;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.banner::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #252B49;
  mix-blend-mode: normal;
  opacity: 0.8;
  left: 0;
  top: 0;
}

.header {
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;

}


.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BABBC5;
}


.header__menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-item {
  padding-left: 24px;
  padding-right: 24px;
}

.header__menu-link {
  padding-top: 36px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}

.header__navbar {
  position: relative;
}

.header__navbar::before {
  content: "";
  width: calc(100% / 5);
  border: 3px solid #BABBC5;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 94%;
}

.benefit__wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 29px;
  row-gap: 99.98px;
  padding-top: 127px;
  padding-bottom: 133.57px;
}

.benefit__title {
  padding-top: 22px;
  padding-bottom: 22px;
  margin-bottom: 22.43px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.benefit__subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6C7279;
}

.benefit__image-wrap {
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto 29px;
}

.benefit__image {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.benefit__item {
  width: calc((100% - 60px) / 3);
}

@media (min-width:768px) and (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 61.86px;

  }

  .benefit__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 3.95px;
  }

  .header__menu-link {
    font-size: 12px;
    line-height: 14px;
  }

  .banner {
    padding-top: 257px;
    padding-bottom: 126px;
  }

  .container {
    padding: 0 20px;
  }

  .banner__subtitle {
    margin-bottom: 91.57px;
    font-size: 18px;
    line-height: 21px;
  }

  .banner__btn {
    max-width: 314px;
  }

  .benefit__subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .benefit__wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 59.54px;
    padding-top: 87.41px;
    padding-bottom: 80.11px;
  }

  .benefit__image-wrap {
    width: 85px;
    height: 85px;
    margin: 0 auto 23.49px;
  }

  .benefit__image {
    margin-bottom: 34.49px;

  }

  .benefit__image {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
  }

}

@media (min-width:320px) and (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 32.71px;
  }

  .header__menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .header__navbar::before {
    border: none;
  }

  .header__wrap {
    column-gap: 90px;
  }

  .header__menu-link {
    font-size: 0px;
    padding-top: 10px;
  }

  .header__img {
    width: 130px;
    height: 56.38px;
  }

  .banner__btn {
    max-width: 260px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .banner {
    padding-top: 106px;
    padding-bottom: 52px;
  }

  .container {
    padding: 0 20px;
  }

  .banner__subtitle {
    margin-bottom: 51.1px;
    font-size: 14px;
    line-height: 16px;
  }

  .benefit__title {
    padding-top: 12.25px;
    padding-bottom: 12.25px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0.43px;
  }

  .benefit__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 280px;
    width: 100%;
  }

  .benefit__wrap {
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    row-gap: 50.51px;
    padding-top: 40px;
    padding-bottom: 34.85px;
  }

  .benefit__item {
    max-width: 280px;
    width: 100%;
  }


  .benefit__image-wrap {
    width: 75.56px;
    height: 75.56px;
    ;
  }

  .benefit__image {
    margin-bottom: 30.19px;
  }

  .benefit__image {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
  }
}