* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.banner {
  padding-top: 230px;
  padding-bottom: 120px;
  margin-bottom: 116px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/favoriteBG.png);
}
.banner .banner__title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 31.43px;
}
.banner .banner__subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 82px;
}
.banner .banner__link {
  text-decoration: none;
}
.banner .banner__btn {
  background: #FF4343;
  font-family: "Raleway", sans-serif;
  padding-top: 26px;
  padding-bottom: 26px;
  max-width: 370px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: #FF4343;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.banner::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #252B49;
  mix-blend-mode: normal;
  opacity: 0.8;
  left: 0;
  top: 0;
}

.header {
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.header .header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BABBC5;
}
.header .header__wrap .header__navbar {
  position: relative;
}
.header .header__wrap .header__navbar .header__menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-link {
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 134px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  display: inline-block;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}

.header__menu-link:active {
  color: #E71414;
}

.header__menu-link::before {
  content: "";
  width: 100%;
  border-bottom: 3px solid transparent;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
}

.header__menu-link:hover::before {
  border-bottom: 3px solid #BABBC5;
}

.header__menu-link:active::before {
  border-bottom: 3px solid #E71414;
}

.benefit {
  margin-bottom: 133.57px;
}
.benefit .benefit__wrap {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 99.98px;
}
.benefit .benefit__title {
  margin-bottom: 22.43px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.benefit__title {
  margin-bottom: 22.43px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.benefit__subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6C7279;
}

.benefit__image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0 auto 29px;
}

.benefit__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.benefit__item {
  width: calc((100% - 60px) / 3);
}

.employees {
  margin-bottom: 114px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employees {
    margin-bottom: 78.41px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employees {
    margin-bottom: 34.39px;
  }
}

.employees__wrap {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employees__wrap {
    -moz-column-gap: 25.23px;
         column-gap: 25.23px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employees__wrap {
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    row-gap: 60.56px;
  }
}

.employee {
  width: calc((100% - 90px) / 4);
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee {
    width: 100%;
  }
}

.employee__image-wrap {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.employee__image-wrap::before {
  content: "";
  display: block;
  padding-top: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employee__image-wrap {
    margin-bottom: 25.23px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee__image-wrap {
    margin-bottom: 25px;
  }
}

.employee__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
}

.employee__name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-transform: capitalize;
  color: #2D3033;
  margin-bottom: 5.29px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employee__name {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4.6px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee__name {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4.61px;
  }
}

.employee__position {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #FF4343;
  margin-bottom: 17.78px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employee__position {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22.45px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee__position {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 38.49px;
  }
}

.employee__discription {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 37.86px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employee__discription {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 39.2px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee__discription {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 55.15px;
  }
}

.employee__social {
  display: flex;
}

.employee__social-container {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employee__social-container {
    -moz-column-gap: 5.05px;
         column-gap: 5.05px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee__social-container {
    -moz-column-gap: 6.09px;
         column-gap: 6.09px;
  }
}

.employee__social-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employee__social-icon {
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee__social-icon {
    width: 25px;
    height: 25px;
  }
}

.employee__social-wrap {
  width: 39px;
  height: 39px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .employee__social-wrap {
    width: 32.8px;
    height: 32.8px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .employee__social-wrap {
    width: 39.61px;
    height: 39.61px;
  }
}

.employee__social-wrap {
  border: 1px solid #C6CBCD;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 114px;
}

.gallery__item {
  flex: 25%;
  max-width: 25%;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .gallery__item {
    flex: 50%;
    max-width: 50%;
  }
}
.gallery__img {
  vertical-align: middle;
  width: 100%;
}

.gallery__item {
  position: relative;
}

.gallery__project {
  position: absolute;
  left: 20%;
  top: 33.15%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gallery__project {
    font-size: 18px;
    line-height: 21px;
    left: 20%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery__project {
    font-size: 18px;
    line-height: 21px;
    left: 10%;
  }
}
.gallery__interface {
  position: absolute;
  left: 20%;
  top: 53.15%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gallery__interface {
    font-size: 14px;
    line-height: 16px;
    left: 20%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery__interface {
    font-size: 14px;
    line-height: 16px;
    left: 10%;
  }
}
.quote {
  margin-bottom: 31px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .quote {
    margin-bottom: 24px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .quote {
    margin-bottom: 23px;
  }
}
.quote__container {
  display: flex;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .quote__container {
    padding-bottom: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .quote__container {
    overflow: hidden;
    flex-direction: column;
    padding-bottom: 95ppx;
  }
}
.quote__imageWrap {
  width: 50%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .quote__imageWrap {
    width: 100%;
  }
}
.quote__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.quote__wrap {
  width: 50%;
  padding-top: 116px;
  padding-bottom: 116px;
  background-image: url(../images/BGquote2.jpg);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .quote__wrap {
    padding-top: 47px;
    padding-bottom: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .quote__wrap {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 95px;
  }
}
.quote__title {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  text-align: left;
  text-transform: capitalize;
  max-width: 471px;
  width: 100%;
  margin: 0 auto;
  color: white;
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .quote__title {
    font-size: 24px;
    line-height: 32px;
    max-width: 330px;
    margin-bottom: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .quote__title {
    max-width: 100%;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 10px;
  }
}
.quote__subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  margin: 0 auto;
  text-transform: uppercase;
  color: white;
  max-width: 471px;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .quote__subtitle {
    font-size: 12px;
    line-height: 14px;
    max-width: 330px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .quote__subtitle {
    max-width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 61.86px;
  }
  .benefit__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }
  .header__menu-link {
    font-size: 12px;
    line-height: 14px;
    min-width: 112px;
  }
  .banner {
    padding-top: 257px;
    padding-bottom: 126px;
    margin-bottom: 78px;
  }
  .container {
    padding: 0 20px;
  }
  .banner__subtitle {
    margin-bottom: 91.57px;
    font-size: 18px;
    line-height: 21px;
  }
  .banner__btn {
    max-width: 314px;
  }
  .benefit {
    margin-bottom: 80.11px;
  }
  .benefit__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .benefit__wrap {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 59.54px;
  }
  .benefit__image-wrap {
    width: 85px;
    height: 85px;
    margin: 0 auto 23.49px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 32.71px;
  }
  .header__menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .header__navbar::before {
    border: none;
  }
  .header__wrap {
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
  .header__menu-link {
    font-size: 0px;
    padding-top: 10px;
  }
  .header__img {
    width: 130px;
    height: 56.38px;
  }
  .banner__btn {
    max-width: 280px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .banner {
    padding-top: 106px;
    padding-bottom: 52px;
    margin-bottom: 40px;
  }
  .container {
    padding: 0 20px;
  }
  .banner__subtitle {
    margin-bottom: 51.1px;
    font-size: 14px;
    line-height: 16px;
  }
  .benefit__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  .benefit__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }
  .benefit__wrap {
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    row-gap: 50.51px;
  }
  .benefit__item {
    width: 100%;
  }
  .benefit {
    margin-bottom: 34.85px;
  }
  .benefit__image-wrap {
    width: 75.56px;
    height: 75.56px;
  }
}/*# sourceMappingURL=style.css.map */